@{
    ViewData["Title"] = "Restablecer contraseña";
}

<h2>@ViewData["Title"]</h2>

<p>Token: @ViewBag.Token</p>

<form method="post" action="@Url.Action("RestablecerPassword", "Inicio")">
    <input type="hidden" id="token" name="token" value="@ViewBag.Token" />
    <label for="newPassword">Nueva contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <button type="submit">Restablecer contraseña</button>
</form>