@{
    ViewData["Title"] = "Inicio";
    var fullName = $"{ViewData["name"]} {ViewData["lastname"]}";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">¡Bienvenido, @fullName!</h1>
            <p class="lead">Gracias por usar nuestro Sistema de Tickets con ASP.NET Core 7.</p>
            <p>Estamos aquí para ayudarte. Si tienes alguna pregunta o problema, no dudes en ponerte en contacto con nosotros.</p>
        </div>
    </div>
</div>

